@charset "utf-8";

/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object {margin:0;padding:0;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;}
body {width:100%;height:100%;background:#dbdfed;}
body,input,select,textarea,button,label {font-size:13px;font-family:'NanumBarunGothic',Arial,'Malgun Gothic';color:#7e8d9c; line-height:24px;}
ul,ol,li{list-style:none;}
table {border-spacing:0;border:0;border-collapse:collapse;}
img,fieldset,abbr {border:0;}
button {border:0;cursor:pointer}
address,caption,cite,code,em {font-style:normal;font-weight:normal;}
img,input,select,textarea,button,label {vertical-align:middle;}
caption,legend {width:1px;height:1px;margin-top:-1px;line-height:1px;text-indent:-9999px;overflow:hidden;}
header,section,nav,hgroup,footer,aside,article,figure {display:block;}
table td {word-wrap:break-word;word-break:break-all;}
hr {display:none;}

/* link_style */
a:link {color:#7e8d9c;text-decoration:none;}
a:visited {color:#7e8d9c;text-decoration:none;}
a:hover {color:#083a81;text-decoration:none;}
a:active {color:#7e8d9c;text-decoration:none;}

@font-face{font-family:'NanumBarunGothic';src: url('../font/NanumBarunGothic.eot');
src: local('?'), url('../font/NanumBarunGothic.woff') format('woff'), url("../font/NanumBarunGothic.ttf") format("truetype");}

/* wrap */
#wrap {min-width:1280px;}

/* header */
#header {height:70px;line-height:20px;background:#fff;}
#header h1 {display:inline-block;width:170px;height:70px;padding-top:17px;background:#f1f2f8;text-align:center;vertical-align:middle;}
#header h2 {display:inline-block;margin:2px 38px 0 30px;color:#083a81;font-size:24px;vertical-align:middle;}
#header .utility {position:absolute;right:30px;top:19px;}
#header .utility .name {padding:3px 15px 0 23px;font-size:13px;color:#7e8d9c;background:url('../images/ico_person.png') no-repeat 0 1px;}
#header .utility .pw {padding:3px 20px 0 23px;font-size:13px;color:#7e8d9c;background:url('../images/ico_pw.png') no-repeat 0 1px;text-decoration:underline;}
#header .utility .logout {display:inline-block;padding:0 15px;width:80px;height:34px;font-size:13px;line-height:31px;color:#4b6073;border:2px solid #bec6cd;text-align:center;background:#fff;white-space:nowrap;border-radius:5px;vertical-align:middle;}
#header .location {position:absolute;top:25px;font-size:13px;color:#7e8d9c;}
#header .location .ico_home {padding:2px 0 1px 20px;background:url('../images/ico_home.png') no-repeat 0 1px;}
#header .location span {color:#7e8d9c;font-weight:bold;}
#header .location a {color:#7e8d9c;}

/* container */
#container {position:relative;overflow:hidden;background:#dbdfed;}

/* contents */
#contents {line-height:20px;margin-left:170px;min-height:820px;box-shadow:inset 5px 12px 25px 0px rgba(0, 0, 0, 0.1);}
#contents:after {content: ".";display:block;height:0;clear:both;visibility:hidden;}

/* lnb */
#aside {position:absolute;top:0;left:0;width:170px;height:100%;background:#043169;overflow:auto;}
#aside .lnb {border-bottom:1px solid #1d4578;}
#aside > ul > li {background:#043169 url('../images/ico_lnb01.png') no-repeat 15px 17px;border-top:1px solid #1d4578;}
#aside ul > li > a {display:block;height:50px;padding:16px 5px 16px 40px;line-height:18px;color:#fff;font-size:15px;}
#aside ul > li.hid > a {background:url('../images/ico_close.png') no-repeat 100% 50%;}
#aside ul > li.active > a {background:url('../images/ico_open.png') no-repeat 100% 50%;}
#aside .dep_menu {padding:10px 0;background:#052650;}
#aside .dep_menu li a {height:auto;padding:0 0 0 32px;color:#9ba9bb;font-size:13px;line-height:35px;background:#052650 url('../images/ico_dot.png') no-repeat 15px 14px;}
#aside .dep_menu li a:hover {color:#84cabd;font-weight:bold;}

/* footer */
#footer {padding:14px 0 12px 180px;clear:both;color:#7e8d9c;font-size:11px;text-align:center;background:#c1c9d9;font-family:Arial;}