.slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-container {
    display: flex;
    width: fit-content;
    animation: scroll 20s infinite linear;
  }
  
  /* .slider-item {
    flex-shrink: 0;
    width: 100px;
    height: 300px;
    margin-right: 0px;
  } */
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  